<template>
    <div class="row mb-4">
        <div class="col-md-12 mb-4">
            <div class="card text-left">
                <div class="card-body">
                    <h4 class="card-title mb-3 text-uppercase">Listado de planteles</h4>
                    <div class="table-responsive">
                        <table class="display table table-striped table-bordered" id="zero_configuration_table" style="width:100%">
                            <thead>
                            <tr>
                                <th class="text-center">CVE SEP</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Representante</th>
                                <th class="text-center">Telefono</th>
                                <th class="text-center">Estatus</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="text-center">CVE SEP</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Representante</th>
                                <th class="text-center">Telefono</th>
                                <th class="text-center">Estatus</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- end of col-->
    </div>
</template>

<script>
    export default {
        data(){
            return{
                planteles:[]
            }
        },
        mounted() {
            axios.get('http://localhost:8000/planteles').then(response => {
                this.planteles = response.data;
            });
        }
    }
</script>
